.topSection {
  text-align: center;
}

.topSection h1 {
  margin: 0;
}

.topSection p {
  color: #7c58d3;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
}

.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 15px;
  gap: 10px;
}
