
.topBar{
    background-color: #9C5BF5;
    display: flex;
    justify-content: center;
}

.bg{
    position: relative;
}

.bg img{
    width: 1000px;
    height: auto;
    float: right;
}


.layer{
    position: absolute;
    z-index: 1;
    top: 100px;
    right: 100px;
    width: 560px;
}

.layer img{
    width: 100%;
    height: auto;
    float: right;
}

.navBar{
    position: absolute;
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

