.container {
  display: flex;
  justify-content: center;
  gap: 30px;
  background: #f8f8f8;
}

.copyWrite {
    margin-top: 30px;
  color: #675d6b;
  text-align: center;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
}
